* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}


/* Main */

/* Navbar */
.navbar {
    background-color: #fae2fa;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: #5a3e3e;
}

/* Portada-index */

.tipografia {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: #050000;
    
}



/* Productos-manos y pies-peluqueria-cejas y pestanas */

.Productos__title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(63, 62, 62);
    border: 2px solid #f8f1f1;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    font-size: 1.3rem;
}

.divtarjetas {    
    width: 90%;    
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

}

.tarjetaproductos {    
    text-align: center;
    width: 65%;
    margin: auto;
    color: rgb(63, 62, 62);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
  
}

.tarjeta__title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: rgb(63, 62, 62);

}
    
.tarjetaproductos__img {
    width: 100%;
    height: 230px;
    border-radius: 10%;
    padding-bottom: 5px;
}

/* Formulario-contacto */

.h1contacto{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(63, 62, 62);
    border: 2px solid #f8f1f1;
    width: 300px;
    margin: 30px auto;
    padding: 20px; 
    font-size: 1.5rem;
}

.h2contacto {
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(63, 62, 62);
    font-size: 1.2rem;
    text-decoration: underline;

}

.contacto {
    margin: auto;
}
.contenedorformulario {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    }

.tarjetaformulario {
    width: 50%;
    height: 80px;
    background-color: #f3dbf3;
    text-align: center;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #3f3e3e;
    display: inline-block;
    border-radius: 4px;    
}

input {
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 8px;
    width: 130px;
    margin-top: 5px;
    font-size: 1rem;
}

.novedades {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(63, 62, 62);
    display: inline-block;
    font-size: 0.7rem; 
    text-align: center;
    margin-right: 7px auto;
    
}

.contactodirecciones {
    width: 60%;
    text-align: center;
    margin: auto;
    
}

.direccion {
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(63, 62, 62);
    width: 100%;
}

iframe {
    margin: auto;    
    width: 100%;
    
}


/* Footer */

.logofooter {    
    margin-left: 30px;
    margin-bottom: 20px;         
}

.footerwhatsaap {    
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 40px;   
    margin: auto;
    justify-content: center;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(63, 62, 62);
}

.whatsaap {    
    padding-left: 10px; 
}

.redessociales {
    width: 100px;
    display: flex;
    font-size: 2rem;
    margin: auto;
    justify-content: space-around;
}


@media (min-width: 600px) {

.divtarjetas {
    max-width: 500px;
}  
.tarjetaproductos__img {
    width: 90%;
    }

}

@media (min-width: 768px) {
.divtarjetas { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    
}

.tarjetaproductos {
    width: 45%;
    margin: 0;
    font-size: 1.1rem;
}

.tarjeta__title {
    font-size: 1.4rem;
  

}

.tarjetaproductos__img {
    height: 220px;
}

.contenedorformulario {
    max-width: 500px;
}

.contactodirecciones {
    max-width: 500px;
}

.footerwhatsaap {
    font-size: 1.5rem;

}
    
}

@media (min-width: 1024px) {
.divtarjetas {
    margin: auto;
    font-size: 1rem;
}    

.tarjetaproductos {
    width: 40%;
    margin: 0;
}

.tarjetaproductos__img {
    height: 210px;
}

.contacto {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.contenedorformulario {
    max-width: 450px;
    margin-top: 125px;
}

.contactodirecciones {
    max-width: 450px;
}
}

@media (min-width: 1250px) {
.divtarjetas {
    max-width: 1400px;  
}

.tarjetaproductos {
    width: 25%;
    margin: 0;
}

.contacto {
    max-width: 1200px;
}
}
    






