* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.primaria {
  font-family: "Roboto Slab", serif;
}

.secundaria {
  font-family: "Lobster", cursive;
}

.terciaria {
  font-family: "Pacifico", cursive;
}

body {
  background-color: #6f4a4a;
}

a:hover {
  font-weight: bold;
  font-style: italic;
}

.navbar {
  background-color: #f8e2f8;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  color: #5a3e3e;
}

footer {
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-top: 30px;
}

.logofooter {
  margin-left: 30px;
  margin-bottom: 20px;
}

.footerwhatsaap {
  width: 50%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin: auto;
  justify-content: center;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  color: rgb(8, 0, 0);
  font-weight: bold;
}

.whatsaap {
  padding-left: 10px;
}

.redessociales {
  width: 100px;
  display: flex;
  font-size: 2rem;
  margin: auto;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .footerwhatsaap {
    font-size: 1.5rem;
  }
}
.contenedorformulario {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.tarjetaformulario {
  width: 50%;
  height: 80px;
  background-color: #f3dbf3;
  text-align: center;
  padding-top: 20px;
  font-family: "Roboto Slab", serif;
  color: #3f3e3e;
  display: inline-block;
  border-radius: 4px;
}

input {
  border-radius: 4px;
  margin-left: 5px;
  margin-bottom: 8px;
  width: 100px;
  margin-top: 5px;
  font-size: 1rem;
}

.novedades {
  font-family: "Roboto Slab", serif;
  color: rgb(182, 123, 182);
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 7px auto;
}

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 5px;
  text-align: center;
  box-shadow: 5px 5px rgb(48, 36, 48);
}
.card:hover {
  transform: translateY(-10px);
}
.card__img {
  width: 100%;
}
.card__title {
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  padding-top: 5px;
  color: rgb(51, 50, 51);
}

@media (min-width: 1024px) {
  .card {
    width: 300px;
    height: 450px;
  }
}
.card__buttons {
  background-color: rgb(182, 123, 182);
  border-radius: 10%;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.contenedorAnimacion {
  overflow: hidden;
}

.animacion {
  transition-duration: 2s;
  animation-name: movimiento;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.animacion:hover {
  color: rgb(182, 123, 182);
}

@keyframes movimiento {
  0% {
    transform: translate(0, 0);
    background-color: rgb(10, 1, 10);
    color: rgb(182, 123, 182);
    border-radius: 10px;
  }
  50% {
    transform: translate(50px);
  }
}
.productos__title {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: rgb(182, 123, 182);
  border: 2px solid #f8f1f1;
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.divtarjetas {
  width: 90%;
  margin: 60px auto;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
}

.tarjetaproductos {
  text-align: center;
  width: 65%;
  margin: 20px auto;
}
.tarjetaproductos__title {
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  color: rgb(182, 123, 182);
  font-weight: bold;
}
.tarjetaproductos__img {
  width: 100%;
  border-radius: 10%;
  padding-bottom: 5px;
}
.tarjetaproductos__precio {
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  color: rgb(182, 123, 182);
  font-weight: bold;
}

@media (min-width: 600px) {
  .divtarjetas {
    max-width: 500px;
  }
  .tarjetaproductos__img {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .divtarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin-bottom: 100px;
    margin-top: 70px;
  }
  .tarjetaproductos {
    width: 45%;
    margin: 0;
    font-size: 1.1rem;
  }
  .tarjetaproductos__title {
    font-size: 1.4rem;
  }
  .productos__title {
    font-size: 1.5rem;
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .divtarjetas {
    margin: auto;
    font-size: 1rem;
    margin-bottom: 120px;
  }
  .tarjetaproductos {
    width: 40%;
    margin: 0;
  }
}
@media (min-width: 1250px) {
  .divtarjetas {
    max-width: 1400px;
    margin-bottom: 150px;
  }
  .tarjetaproductos {
    width: 25%;
    margin: 0;
  }
}
.h1contacto {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: rgb(182, 123, 182);
  border: 2px solid #f8f1f1;
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.h2contacto {
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto Slab", serif;
  color: rgb(182, 123, 182);
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
}

.contacto {
  margin: auto;
}

.contactodirecciones {
  width: 60%;
  text-align: center;
  margin: auto;
}

.direccion {
  text-align: center;
  margin: auto;
  font-family: "Roboto Slab", serif;
  color: rgb(182, 123, 182);
  width: 100%;
  font-size: 1.3rem;
}

.contactohorarios {
  text-decoration: underline;
  font-weight: bold;
}

iframe {
  margin: auto;
  width: 100%;
}

@media (min-width: 600px) {
  input {
    width: 130px;
  }
}
@media (min-width: 768px) {
  .h1contacto {
    font-size: 1.5rem;
    width: 300px;
  }
  .contenedorformulario {
    max-width: 500px;
  }
  .contactodirecciones {
    max-width: 500px;
  }
}
@media (min-width: 1024px) {
  .contacto {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .contenedorformulario {
    max-width: 450px;
    margin-top: 125px;
  }
  .contactodirecciones {
    max-width: 450px;
  }
}
@media (min-width: 1250px) {
  .contacto {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
