$color-primario: violet;

$color-secundario:rgb(51, 50, 51);

$color-terciario:rgb(248, 226, 248);

$font-family-pacific:'Pacifico', cursive;

$font-family-lato:'Lato', sans-serif;

$font-family-lobster:'Lobster', cursive;

$font-family-opensans:'Open Sans';

$font-family-sansserif: sans-serif;

$font-family-roboto:'Roboto', sans-serif;

$font-family-sourcesans:'Source Sans Pro';



