$color-primario: violet;

$color-secundario:rgb(51, 50, 51);

$color-terciario:rgb(248, 226, 248);

$color-cuarto: rgb(111, 74, 74);

$font-family-pacific:'pacifico', cursive;

$font-family-lato:'lato', sans-serif;

$font-family-lobster:'lobster', cursive;

$font-family-opensans:'open Sans';

$font-family-roboto:'roboto', sans-serif;

$font-family-sourcesans:'source Sans Pro';



