.contacto__title {  
@extend.productos__title
}

.contacto {
    margin: auto;    
}

.consultasContacto {
    margin-bottom: 5px;
}

.informacionContacto {
    width: 60%;
    text-align: center;
    margin: auto;    
}

.informacion {
    margin: auto;
    width: 100%;
}

iframe {
    margin: auto;    
    width: 100%;    
}

@media (min-width: 600px) {    
    input {
        width: 130px;
    }
}

@media (min-width: 768px) {            
    .contacto__title {
        width: 300px;
    }
            
    .informacionContacto {
        max-width: 450px;
    }                         
}
        
@media (min-width: 1024px) {        
    .contacto {
        @include dflex(row, center, center);
        margin-top: 50px;
    }
             
}
        
           
