.contacto__title {  
@extend.productos__title
}

.consultasContacto {
    margin-bottom: 5px;
}

.contacto {
    margin: auto;
    @include dflex(column, center, center);
    flex-wrap: wrap;    
}

.direccionesContacto {
    width: 60%;
    text-align: center;
    margin: auto;    
}

.direccion {
    margin: auto;
    width: 100%;
}

iframe {
    margin: auto;    
    width: 100%;    
}

@media (min-width: 600px) {    
    input {
        width: 130px;
    }
}

@media (min-width: 768px) {            
    .contacto__title {
        width: 300px;
    }
            
    .direccionesContacto {
        max-width: 500px;
    }                         
}
        
    @media (min-width: 1024px) {        
    .contacto {
        @include dflex(row, center, center);
        margin-top: 50px;
    }
             
    .direccionesContacto {
        max-width: 450px;
    }
}
        
           
