.contenedorAnimacion {
    overflow: hidden;
}

.animacion {
   transition-duration: 2s;
   animation-name: movimiento;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   &:hover {
    color:$color-primario;
   }
}

@keyframes movimiento {
0% {
    transform: translate(0, 0);
    background-color: rgb(10, 1, 10);
    color:violet;
    border-radius: 10px;
    }

50% {
    transform: translate(50px);
}
}
