.productos__title {    
    width: 250px;
    margin: 50px auto;
    padding: 20px;    
}

.divtarjetas {    
    width: 90%;    
    margin: 60px auto;
}

.tarjetaproductos {    
    width: 65%;
    margin: 20px auto;
    &__img {
        width: 100%;    
        border-radius: 10%;
        padding-bottom: 5px;
    }
    &:hover {
        transform: translateY(-15px);
    }        
}

@media (min-width: 600px) {
    .divtarjetas {
        max-width: 500px;
    }  
    .tarjetaproductos__img {
        width: 90%;
    }    
}

 @media (min-width: 768px) {    
.divtarjetas { 
    @include dflex(row, space-around, center);
    flex-wrap: wrap;
    max-width: 800px;
    margin-bottom: 100px;
    margin-top: 70px;    
}

.tarjetaproductos {
    width: 45%;
    margin: 0;    
}

.productos__title {
    width: 300px;
} 
}

@media (min-width: 1024px) {
.divtarjetas {
    margin: auto;    
    margin-bottom: 120px;
}    
    
.tarjetaproductos {
    width: 40%;
    margin: 0;
}    
}
    
@media (min-width: 1250px) {
.divtarjetas {
    max-width: 1400px;  
    margin-bottom: 150px;
}
    
.tarjetaproductos {
    width: 25%;
    margin: 0;
}
}
    