footer {
    background-image: url(../images/portada4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-top: 30px; 
    height: 190px;             
}

.logofooter {    
    margin-left: 30px;
    margin-bottom: 20px;
    &:hover {
        padding-left: 20px;
    }     
}

.whatsapp {    
    width: 70%;
    @include dflex(row, center, center);
    padding-top: 10px;   
    margin: auto;
               
}

.cecularWhatsapp {    
    padding-left: 20px;      
}

.redessociales {
    width: 100px;
    @include dflex(row, space-around, center);
    font-size: 2.3rem;
    margin: auto;
    &:hover {
        padding-left: 20px;
        transform: scale(1.1);
    }
}

@media (min-width: 1024px) {
    .redessociales {
        font-size: 2.5rem;
        
    }

}




