.card__buttons {
    background-color: $color-primario;
    border-radius: 10%;
    padding: 10px;        
} 

.tarjeta__buttons {
    background-color: $color-secundario;
    border-radius: 10%;
    padding: 10px;

}