body {
    background-color: #6f4a4a;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-style: italic; 
    transform: scale(1.2);
    margin-left: 40px;
    color: $color-secundario;
}



