.menu {
    background-color: $color-terciario;
    font-family: $font-family-opensans;
    font-size: 1rem;
    color: $color-cuarto;
    font-weight: bold;
}

.menuEnlace:hover {
    font-weight: bold;
    font-style: italic; 
    transform: scale(1.1);
    margin-left: 30px;
    color: $color-cuarto;
}

.tituloIndex {
    font-family: $font-family-lobster;    
    text-align: center;
    font-weight: bold;
    color: $color-primario;
    font-size: 1.8rem;
}

.fraseIndex {
    font-family: $font-family-sourcesans;
    color: $color-terciario;
    text-align: center;
    font-size: 1.4rem;
}

@media (min-width: 1024px) {
    .tituloIndex {
        font-size: 3rem;
    }
    .fraseIndex {
        font-size: 2.2rem;
    }   
}

.card {
    &__title {
        font-family: $font-family-opensans;
        font-size: 1.2rem;
        padding-top: 5px;
        color: $color-secundario;
    }      
}

.card__buttons {
    font-family: $font-family-sourcesans;
    font-weight: bold;
    font-size: 1.4rem;    
    color: $color-secundario;
    &:hover {
        font-weight: bold;
        font-style: italic; 
        transform: scale(1.1);
        color: $color-cuarto;
    }
} 

.tarjeta__buttons {
    font-family: $font-family-sourcesans;
    font-weight: bold;
    font-size: 1.3rem;    
    color:$color-primario;
    &:hover {
        font-weight: bold;
        font-style: italic; 
        transform: scale(1.1);
        color: $color-terciario;
    }
} 

.whatsapp {
    font-size: 1.3rem;
}

.celularWhatsapp {
    color: $color-secundario;
    font-size: 1.3rem;
}


@media (min-width: 768px) {
    .celularWhatsapp {
        font-size: 1.5rem;    
        
    }
    .whatsapp {
        font-size: 1.5rem;
        &:hover {
            font-weight: bold;
            font-style: italic; 
            transform: scale(1.2);
            
        }
    }
}
.productos__title {
    text-align: center;
    font-family: $font-family-opensans;
    color:$color-primario;
    border: 2px solid $color-terciario;
    font-size: 1.3rem;
    font-weight: bold;
}

.tarjetaproductos {    
    text-align: center;        
    &__title {
        font-family: $font-family-sourcesans;
        font-size: 1.3rem;
        color:$color-terciario;
        font-weight: bold;
    }
    &__precio {
        font-family: $font-family-sourcesans;
        font-size: 1.2rem;
        color:$color-terciario;
        font-weight: bold;
    }      
}

@media (min-width: 600px) {

    .divtarjetas {
        max-width: 500px;
    }  
    .tarjetaproductos__img {
        width: 90%;
    }    
}

@media (min-width: 768px) {
    
.tarjetaproductos {
    &__title {
        font-size: 1.5rem; 
    }
    &__precio {
        font-size: 1.5rem; 
    }
}

.productos__title {
    font-size: 1.5rem;
    } 
}

@media (min-width: 1024px) {
.divtarjetas {
    font-size: 1rem;    
}   
}

.contacto__title {
@extend.productos__title
}

.consultaContacto {
    text-align: center;
    font-family: $font-family-lato;
    color:$color-primario;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}

.formularioContacto {
    font-weight: bold;
    font-family: $font-family-opensans;
    color:$color-primario;
    font-size: 1.2rem;
    text-align: center;
}

.tarjetaformulario {
    background-color: $color-terciario;        
}

.tarjetamensaje {
    align-items: center;
    background-color: $color-terciario;
}

.input {
    font-size: .8rem;
    font-family: $font-family-opensans;
    color:$color-secundario;
    text-align: center;
}

.inputmensaje {
@extend.input;
}

.novedades {
    font-family: $font-family-opensans;
    color:$color-terciario;
    font-size: 1.2rem; 
    text-align: center;       
}

.direccion {
    font-weight: bold;
    font-family: $font-family-opensans;
    color:$color-primario;
    font-size: 1.2rem;
    text-align: center;
}

.horariosContacto {
    text-decoration: underline;
    font-weight: bold;
}

@media (min-width: 768px) {
            
    .direccion {         
        font-size: 1.4rem;            
        }        
    .consultasContacto {
        font-size: 1.5rem;
    }
    .formularioContacto {
        font-size: 1.3rem;
    }
    
}


    


